#!/usr/bin/make -f
# debian/rules
# -*- makefile -*-

export DESTROOT=$(CURDIR)/debian/penguintuner

%:
	dh $@

clean:
	rm -rf build
	rm -rf obj-x86_64-linux-gnu
	dh clean

override_dh_auto_install:
	dh_auto_install
	cd build; meson install
